*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.logo{
    text-align: center;
}
.logo-next {
    width:20px;
    height:20px;
    margin-top:2.4em;
    margin-left:0.5em;
}

.title-home {
        text-align: center;
        margin:4em 1em 1em 1em;
        font-size: 18px;
        font-weight: bold;

    }
  
  button {
      cursor: pointer;
      border: none;
      text-transform: uppercase;
      margin-top: 1.5em;
      align-items: center;
      margin-left:32.5%;
      height: 2.6em;
  }
  
  .btn-start {
      background-color: #47EBEB;
      width: 35vw;
  }

  
  footer {
      width: 100vw;
      margin-top: 13em;
      text-align: center;
      text-decoration: none;
    }
    
    footer a {
      cursor: pointer;
      text-decoration: none;
    }
  
  .logo-github {
      width:1em;
      height:1em;
     
  }
  
  .btn-stressed {
      background-color: #EB4747;
      width: 55vw;
      margin-left: 22.8%;
      margin-top:3em;
  }
  
  .btn-inspired {
      background-color: #F28E45;
      width: 55vw;
      margin-left: 22.8%;
  }
  
  .btn-happy {
      background-color: #FBFE54;
      width: 55vw;
      margin-left: 22.8%;
  }
  
  .btn-bored {
      background-color: #47EB70;
      width: 55vw;
      margin-left: 22.8%;
  }
  
  .btn-heartbroken {
      background-color: #47EBEB;
      width: 55vw;
      margin-left: 22.8%;
  }
  
  .btn-sad {
      background-color: #4770EB;
      width: 55vw;
      margin-left: 22.8%;
  }
  
  .btn-sensitive {
      background-color: #9947EB;
      width: 55vw;
      margin-left: 22.8%;
  }
  
  .btn-in-love {
      background-color: #EB47C2;
      width: 55vw;
      margin-left: 22.8%;
  }
  
  
  .title-feeling{
      text-align: center;
      margin-top:1em;
      font-size: 18px;
      font-weight: bold;
  }
  
  .title-movies {
      text-align: center;
      margin:1em;
      font-size: 18px;
      font-weight: bold;
  }

.movie-details-stars {
    width:1em;
    height:1em;
    margin-left: 1em;
}

.movie-details-img {
    max-width:40vw;
    max-height:20vh;
    width: auto;
    height: auto;
    display:flex;
    margin-left: 0.95em;
    margin-top: 1em;
}

.movie-details-title {
    margin-top:8em;
    
}

.movie-details {
    margin-top:3em;
    float:left;
    margin:5px;
    align-items: center;
}

  
@media(min-width:1000px){
    .title-feeling {
        margin-top:1em;
        font-size: 25px; 
    }
    
    .title-movies {
        margin-top:1em;
        font-size: 25px;
    }

    .title-home {
        margin-top:6em;
        font-size: 25px; 
    }

    footer {
        width: 100vw;
        margin-top: 15em;
        text-align: center;
        text-decoration: none;
        
      }

    .btn-start {
        margin-top:3em;
        width: 35vw;
        
    }

    .movie-details-img {
        max-width:60vw;
        max-height:40vh;
        margin-left: 4.5em;
        margin-top: 2em;
    }

    .movie-details-stars {
        width:1em;
        height:1em;
        margin-left: 4.5em;
    }

}


@media (min-width: 760px) and (max-width: 768px){
    footer {
        width: 100vw;
        margin-top: 8em;
      }

      .btn-start {
        margin-top:4em;
        width: 35vw;
    }

    .title-home {
        margin-top:6em;
        font-size: 25px;
        
    }

    .movie-details-img {
        max-width:60vw;
        max-height:40vh;
        margin-left: 2em;
        margin-top: 0.5em;
    }

    .movie-details-stars {
        margin-left: 2em;
    }

}